@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;900&family=Poppins:wght@100;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}
